.paper {
    font-weight: 900;
    font-size: 11pt;
}

.authors {
    font-size: 12pt;
    
}

.journal {
    font-style: italic;
}

.journal.title {
    font-weight: 900;
}

.talks {
    font-weight: 900;
    
}

.keyw {
    font-weight: bold;
    color: #ffa500;
