.paper {
    font-weight: 900;
    font-size: 11pt;
}

.authors {
    font-size: 12pt;

}

.journal {
    font-style: italic;
}

.author {
    font-weight: 900;
}

.journal.title {
    font-weight: 900;
}

.talks {
    font-weight: 900;

}

.keyw {
    font-weight: bold;
    color: #698198;
}

/* image captions on hover */
.hoverCap {
    color: #3f3f3f;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    position:absolute;
    z-index:1000;
    top:50%;
    bottom:50%;
}

.commentino {
    font-size: 12px;
    text-align: left;
}

.spazietto {
    margin-top: 40px; /* define margin as you see fit */
}